@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

/* Container */

/* Breakpoints */

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

*,
:after,
:before {
  font: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

:active,
:focus {
  outline: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  display: block;
  vertical-align: top;
}

button {
  background-color: inherit;
}

html,
body {
  font-family: ProximaNova, Verdana, Tahoma, Helvetica, sans-serif;
  font-weight: 400;
  color: #000;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 122.5%;
}

h3 {
  font-size: 24px;
  line-height: 125%;
  font-weight: 600;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 125%;
}

.text-block p {
  line-height: 160%;
  color: #565656;
}

.text-block p:not(:last-child) {
  margin-bottom: 16px;
}

.dark-bg {
  opacity: 0;
  position: fixed;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  pointer-events: none;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.dark-bg_active {
  pointer-events: auto;
  opacity: 0.4;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

._container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav {
  position: relative;
  overflow-y: hidden;
  padding: 0 10px;
}

.nav__button-prev,
.nav__button-next {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 41px;
  height: 41px;
  padding-left: 14px;
  -webkit-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  transition: opacity 0.15s;
  opacity: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.3)), color-stop(33%, #fff));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.3) 0%, #fff 33%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.3) 0%, #fff 33%);
}

.nav__button-prev_active,
.nav__button-next_active {
  opacity: 1;
}

.nav__button-prev path,
.nav__button-next path {
  fill: #000;
}

.nav__button-prev {
  left: 0;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.nav__button-next {
  right: 0;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: scroll;
}

.nav__list::-webkit-scrollbar {
  display: none;
}

.nav__link {
  display: block;
  padding: 12px 30px;
}

.nav__link div {
  font-weight: 600;
  position: relative;
  white-space: nowrap;
}

.nav__link div::after {
  position: absolute;
  right: 0;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 3px;
  content: "";
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  background-color: #000;
}

.button_blue {
  padding: 20px 40px;
  background-color: #2639ed;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.065em;
  line-height: 125%;
  color: #fff;
  border-radius: 60px;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.socials-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 48px;
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, -webkit-transform 0.3s;
  -o-transition: background-color 0.3s, transform 0.3s;
  transition: background-color 0.3s, transform 0.3s;
  transition: background-color 0.3s, transform 0.3s, -webkit-transform 0.3s;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  border: 1px solid #f2f2f2;
}

.socials-list__icon path {
  fill: #2639ed;
  -webkit-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  transition: fill 0.3s;
}

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  padding: 40px 0;
  -webkit-transition: background-color 0.3s, top 0.3s;
  -o-transition: background-color 0.3s, top 0.3s;
  transition: background-color 0.3s, top 0.3s;
  background-color: #fff;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}

.header_hide {
  top: -130px;
  -webkit-transition: top 0.6s;
  -o-transition: top 0.6s;
  transition: top 0.6s;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 20px;
}

.header_active .header__burger::before {
  -webkit-transform: translateY(9px) rotate(45deg);
      -ms-transform: translateY(9px) rotate(45deg);
          transform: translateY(9px) rotate(45deg);
}

.header_active .header__burger::after {
  -webkit-transform: translateY(-9px) rotate(-45deg);
      -ms-transform: translateY(-9px) rotate(-45deg);
          transform: translateY(-9px) rotate(-45deg);
}

.header_active .header__burger span {
  opacity: 0;
}

.header__burger {
  z-index: 3;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 47px;
  padding: 13px 8px;
  cursor: pointer;
}

.header__burger::before,
.header__burger::after,
.header__burger span {
  width: 32px;
  height: 3px;
  border-radius: 5px;
  background-color: #000;
}

.header__burger::before,
.header__burger::after {
  content: "";
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.header__burger span {
  -webkit-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.header__popup {
  display: none;
  overflow: auto;
  padding: 0 20px;
  -webkit-transition: right 0.3s;
  -o-transition: right 0.3s;
  transition: right 0.3s;
}

.header__popup .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.header__popup .nav__link {
  font-size: 20px;
  padding: 8px 24px;
}

.header__popup .nav__icon {
  margin: 0;
  padding: 14px 24px;
}

.hero {
  padding: 180px 0 120px 0;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 36px 24px;
}

.hero__content {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 46%;
          flex: 0 1 46%;
}

.hero__text-block {
  max-width: 472px;
  margin-top: 40px;
}

.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 34px;
  gap: 8px 18px;
}

.hero__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 auto;
}

.hero__image img {
  max-width: 100%;
  border-radius: 0 0 0 200px;
}

.hero__image::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: -11%;
  width: 22%;
  height: 32.4%;
  border-radius: 50%;
  background-color: #dae9ff;
  content: "";
}

.hero__image::after {
  position: absolute;
  z-index: -1;
  right: 18%;
  bottom: -22%;
  width: 30%;
  height: 44%;
  content: "";
  border-radius: 0 0 100px 0;
  background-color: #fff5db;
}

.hero__decor_dots {
  position: absolute;
  z-index: -1;
  bottom: -118px;
  left: -50px;
}

.clients {
  padding-bottom: 40px;
}

.clients__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px 60px;
}

.clients__text-block {
  max-width: 336px;
  margin-top: 16px;
}

.clients__text-block p {
  font-size: 18px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 10px;
  gap: 24px;
}

.clients-list__item {
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.clients-list__item:last-child {
  position: relative;
  top: 10px;
}

.clients-list__item img {
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  -o-transition: transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  max-width: 100%;
}

.business-help {
  padding: 40px 0;
}

.business-help__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px 60px;
}

.business-help__content {
  position: relative;
}

.business-help__content::before {
  position: absolute;
  z-index: -1;
  top: -60px;
  left: -30px;
  width: 180px;
  height: 180px;
  content: "";
  border-radius: 100px 0 0 0;
  background-color: #fff5db;
}

.business-help__title {
  max-width: 358px;
}

.business-help__text-block {
  max-width: 386px;
  margin-top: 30px;
}

.business-help__decor_dots {
  position: absolute;
  bottom: -146%;
  z-index: -2;
}

.business-help__cards {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
  margin-right: 60px;
  gap: 30px 34px;
}

.business-help__cards::before {
  position: absolute;
  z-index: -1;
  top: 14%;
  left: -212px;
  width: 100vw;
  height: 72%;
  content: "";
  border-radius: 150px 0 0 0;
  background-color: #dae9ff;
}

.business-help__cards::after {
  position: absolute;
  z-index: -2;
  right: -8%;
  bottom: 5%;
  width: 120px;
  height: 120px;
  content: "";
  border: 9px solid #ff007a;
  border-radius: 50%;
}

.business-cards-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px 0;
}

.business-cards-column:first-child {
  margin-top: 80px;
}

.business-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 30px;
  border: 1px solid #f2f2f2;
  border-radius: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 50px rgba(0, 0, 0, 0.05);
}

.business-card__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 122px;
  height: 122px;
  border-radius: 20px;
}

.business-card__image_first {
  background-color: #f1f7ff;
}

.business-card__image_second {
  background-color: #fff2f8;
}

.business-card__image_third {
  background-color: #fff7e3;
}

.business-card__image_fourth {
  background-color: #deffee;
}

.business-card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.business-card__title {
  max-width: 194px;
  margin-top: 30px;
  text-align: center;
}

.business-card__text-block {
  max-width: 246px;
  margin-top: 26px;
  text-align: center;
}

.great-since {
  padding: 80px 0;
}

.great-since__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 36px 0;
}

.great-since__video {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 47%;
          flex: 0 1 47%;
  padding: 16% 0;
}

.great-since__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  -webkit-box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
  -o-object-fit: cover;
     object-fit: cover;
}

.great-since__video::after {
  position: absolute;
  z-index: -1;
  right: -8%;
  bottom: -14%;
  width: 22%;
  height: 32%;
  content: "";
  border-radius: 50%;
  background-color: #fff5db;
}

.great-since__content {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 44%;
          flex: 0 1 44%;
}

.great-since__content::before {
  position: absolute;
  z-index: -1;
  top: -30px;
  left: -40px;
  width: 180px;
  height: 180px;
  content: "";
  border-radius: 0 0 100px 0;
  background-color: #e9f2ff;
}

.great-since__text-block {
  margin-top: 30px;
}

.newsletter {
  padding: 74px 0;
}

.newsletter__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px;
  border-radius: 75px;
  background-color: #dae9ff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px 0;
}

.newsletter__inner::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 32%;
  height: 100%;
  content: "";
  border-radius: 30% 75px 75px 30%/40% 75px 75px 60%;
  background-color: #2639ed;
}

.newsletter__inner::after {
  content: "";
  position: absolute;
  width: 180px;
  height: 180px;
  background-color: #fff5db;
  border-radius: 0 0 0 100px;
  bottom: -15%;
  z-index: -1;
  left: -4%;
}

.newsletter__decor {
  position: absolute;
  top: -19%;
  right: -3%;
  z-index: -1;
}

.newsletter__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  z-index: 1;
}

.newsletter__text-block {
  margin-top: 18px;
}

.newsletter__newsletter-form {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 54%;
          flex: 0 1 54%;
}

.newsletter-form {
  z-index: 5;
  padding: 10px;
  border-radius: 60px;
  background-color: #fff;
  -webkit-box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px 20px;
}

.newsletter-form__label {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.newsletter-form__input {
  width: 100%;
  padding: 10px 20px;
}

.newsletter-form__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 188px;
          flex: 0 1 188px;
}

.happy-client {
  padding: 74px 0;
}

.happy-client__title {
  text-align: center;
}

.happy-client__text-block {
  max-width: 600px;
  margin: 18px auto 0 auto;
}

.happy-client__text-block p {
  text-align: center;
}

.happy-client__slider {
  margin-top: 110px;
}

.happy-client__owl-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1032px;
  margin: 0 auto;
}

.owl-dots {
  margin-top: 20px !important;
}

.owl-dot:not(:last-child) {
  margin-right: 10px;
}

.owl-dot span {
  width: 14px !important;
  height: 14px !important;
  background-color: #e7f0fc !important;
}

.owl-dot.active span {
  background-color: #2639ed !important;
}

.person-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 66px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.person-block__avatar {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  margin: 0 auto;
}

.person-block__avatar img {
  border-radius: 500px 0 500px 500px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.person-block__avatar::before {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 120px;
  height: 120px;
  content: "";
  border: 9px solid #ff007a;
  border-radius: 50%;
}

.person-block__avatar::after {
  position: absolute;
  z-index: -1;
  top: -10%;
  right: -9%;
  width: 196px;
  height: 154px;
  content: "";
  background: url("../images/common/decor-dots.svg");
  -webkit-filter: brightness(0.95);
          filter: brightness(0.95);
}

.person-block__decor {
  position: absolute;
  top: -100px;
  right: 0;
}

.person-block__about {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.person-block__name {
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
}

.person-block__text-block {
  max-width: 412px;
  margin-top: 22px;
}

.footer {
  padding-top: 74px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 60px 20px 0 20px;
  border-top: 1px solid #e4e4e4;
  gap: 50px 192px;
}

.footer__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 22%;
          flex: 0 1 22%;
}

.footer__groups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px 60px;
}

.footer__text-block {
  margin-top: 26px;
}

.footer__socials-list {
  margin-top: 30px;
}

.footer__copyright {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  text-align: center;
  border-top: 1px solid #e4e4e4;
  padding: 22px 0;
}

.footer-group {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer-group__list {
  margin-top: 24px;
}

.footer-group__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-group__link {
  padding: 8px 0;
  width: 100%;
  line-height: 130%;
  -webkit-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}

@media (min-width: 668px) {
  .dark-bg {
    display: none;
  }

  .header__popup {
    display: none !important;
  }
}

@media (min-width: 1110px) {
  .business-help__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
  }
}

@media (max-width: 1110px) {
  .business-help__content::before {
    border-radius: 80px 0 0 0;
    width: 120px;
    height: 120px;
    top: -46px;
    left: -20px;
  }

  .business-help__title {
    max-width: 600px;
  }

  .business-help__text-block {
    max-width: 500px;
  }

  .business-help__cards {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }

  .business-help__cards::before {
    left: 10%;
  }

  .newsletter__inner {
    padding: 70px;
  }

  .newsletter__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .newsletter__newsletter-form {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 85%;
            flex: 0 1 85%;
  }
}

@media (max-width: 924px) {
  .hero__image img {
    border-radius: 0 0 0 100px;
  }
}

@media (max-width: 768px) {
  .hero__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .hero__text-block {
    max-width: 522px;
  }

  .hero__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 86%;
            flex: 0 1 86%;
  }

  .hero__image img {
    border-radius: 0 0 0 200px;
  }

  .hero__decor_dots {
    display: none;
  }

  .clients-list__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 46%;
            flex: 1 1 46%;
  }

  .business-help__cards {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }

  .great-since__video {
    padding: 30% 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .great-since__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .great-since__content::before {
    width: 120px;
    height: 120px;
    top: -30px;
    left: -20px;
    border-radius: 0 0 80px 0;
  }

  .newsletter__inner {
    padding: 40px;
    border-radius: 55px;
  }

  .newsletter__inner::before {
    border-radius: 30% 55px 55px 30%/40% 55px 55px 60%;
  }

  .newsletter__inner::after {
    width: 120px;
    height: 120px;
    bottom: -10%;
    left: -8%;
  }

  .newsletter__newsletter-form {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .person-block__avatar {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 85%;
            flex: 0 1 85%;
  }

  .person-block__about {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .person-block__text-block {
    max-width: none;
  }
}

@media (max-width: 668px) {
  body.no-scroll {
    overflow: hidden;
    height: 100%;
  }

  .nav {
    display: none;
  }

  .header {
    padding: 20px 0;
  }

  .header__burger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  .header__popup {
    padding: 0 20px 16px 20px;
  }

  .hero__image img {
    border-radius: 0 0 0 100px;
  }

  .newsletter__inner::before {
    display: none;
  }

  .footer-group {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 40%;
            flex: 1 0 40%;
  }
}

@media (max-width: 624px) {
  .business-help__decor_dots {
    bottom: -180px;
  }

  .business-help__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .business-help__cards::before {
    left: 20%;
  }

  .business-help__cards::after {
    bottom: 10%;
  }

  .business-cards-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 85%;
            flex: 0 1 85%;
  }

  .business-card__title {
    max-width: 340px;
  }

  .business-card__text-block {
    max-width: 346px;
  }

  .newsletter__inner {
    padding: 40px 20px;
  }

  .newsletter__decor {
    top: -12%;
  }

  .newsletter-form {
    border-radius: 40px;
    padding: 20px;
  }

  .newsletter-form__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 425px) {
  .header {
    padding: 10px 0;
  }

  .header__popup .nav__list {
    margin-top: 20px;
  }

  .hero__text-block {
    margin-top: 34px;
  }

  .hero__buttons {
    margin-top: 28px;
  }

  .hero__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .hero__image img {
    border-radius: 0 0 0 80px;
  }

  .clients-list__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .business-cards-column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .newsletter__container {
    padding: 0;
  }

  .newsletter__inner {
    border-radius: 36px;
  }

  .newsletter-form {
    border-radius: 30px;
  }

  .newsletter-form__input {
    padding: 10px 0;
  }

  .person-block__avatar {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .footer-group {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .footer-group__title {
    font-size: 24px;
  }

  .footer-group__link {
    font-size: 18px;
  }
}

@media (max-width: 360px) {
  h2 {
    font-size: 36px;
  }

  .hero__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (hover: hover) and (pointer: fine) {
  .nav__link:hover div::after {
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1);
  }

  .button_blue:hover {
    background-color: #fff;
    color: #2639ed;
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  }

  .socials-list__link:hover {
    -webkit-transform: translateY(2px);
        -ms-transform: translateY(2px);
            transform: translateY(2px);
    background-color: #2639ed;
  }

  .socials-list__item:hover .socials-list__icon path {
    fill: white;
  }

  .clients-list__item:hover img {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }

  .footer-group__link:hover {
    color: gray;
  }
}