@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

html,
body {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	flex-shrink: 1;
	color: rgb(255, 255, 255);
	background-color: rgb(20, 20, 20);
	text-align: left;
	overflow: hidden;
}

label {
	color: white;
	font-family: "Roboto", sans-serif;
}

#createShadow {
	position: fixed;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 60px;
	font-size: 100px;
	letter-spacing: 15px;
	text-shadow: 50px 50px 50px rgba(82, 70, 255, 1);
	color: white;
	transition: text-shadow 0.3s ease-out, font-size 0.3s ease-out;
}

input[type="range"] {
	width: 100%;
}

input[type="color"] {
	border: none;
	outline: none;
	padding: 0;
	background-color: transparent;
	width: 70px;
	height: 50px;
	cursor: pointer;
}

textarea {
	color: white;
	box-shadow: 0 0 5px rgb(29, 29, 29);
	outline: none;
	border: none;
	background: rgb(29, 29, 29);
	border-radius: 30px;
	font-family: "Roboto", sans-serif;
	padding: 15px;
}

.card-header {
	font-family: "Roboto", sans-serif;
	text-align: center;
}

.card-body {
	height: 335px;
}

.container {
	position: fixed;
	top: 300px;
	flex-grow: 0;
	flex-shrink: 1;
}

span {
	color: rgb(149, 141, 255);
	text-shadow: 0px 0px 5px #5246ff;
}
