@font-face {
	font-family: Linotte;
	src: url('../fonts/Linotte-Regular.ttf');
}
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

section {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

html,
body {
	width: 100%;
	overflow: hidden;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 100%;
	-ms-flex-negative: 1;
	    flex-shrink: 1;
	-webkit-box-flex: 0;
	    -ms-flex-positive: 0;
	        flex-grow: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-family: Linotte;
	background: url('../img/bg.jpg');
	background-size: cover;
	background-position: center;
}

#result {
	font-family: Linotte;
	color: white;
	font-size: 20px;
	text-align: center;
	text-align: right;
	width: 312px;
	min-height: 45px;
	max-height: 80px;
	overflow-y: scroll;
	padding: 10px;
	margin-bottom: 10px;
	-webkit-backdrop-filter: blur(30px);
	backdrop-filter: blur(20px);
	background-color: rgba(16, 18, 27, 0.03);
	outline: none;
	border: none;
	border-radius: 0px 0px 5px 5px;
	word-break: break-all;
}

.buttons_main button:nth-child(1),
button:nth-child(20) {
	width: 154px;
}

.buttons_other button:not(:first-child) {
	display: none;
}

.buttons_other {
	margin-top: 5px;
}

button {
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	background-color: rgba(16, 18, 27, 0.03);
	border-radius: 5px;
	border: none;
	color: white;
	cursor: pointer;
	font-family: Linotte;
	font-size: 15px;
	height: 45px;
	margin-bottom: 3px;
	outline: none;
	-webkit-transition: background-color 0.3s, -webkit-box-shadow 0.3s;
	transition: background-color 0.3s, -webkit-box-shadow 0.3s;
	-o-transition: background-color 0.3s, box-shadow 0.3s;
	transition: background-color 0.3s, box-shadow 0.3s;
	transition: background-color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
	width: 75px;
}

img {
	width: 20px;
}

button:hover {
	background: rgba(12, 15, 25, 0.1);
}

section {
	left: 51%;
}

.buttons_main button:nth-child(22) {
	background-color: #3adf3a;
	-webkit-box-shadow: 0 0 30px #14ff20ab;
	        box-shadow: 0 0 30px #14ff20ab;
}

.buttons_main button:nth-child(22):hover {
	background-color: #50e350;
	-webkit-box-shadow: 0 0 30px rgba(46, 255, 56, 0.6705882353);
	        box-shadow: 0 0 30px rgba(46, 255, 56, 0.6705882353);
}

footer {
	-webkit-backdrop-filter: blur(30px);
	backdrop-filter: blur(30px);
	background-color: rgba(16, 18, 27, 0.1);
	-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.178);
	        box-shadow: 0 0 30px rgba(0, 0, 0, 0.178);
	bottom: 0px;
	height: 55px;
	left: 0px;
	position: fixed;
	text-align: center;
	width: 100%;
}

footer div {
	color: white;
	margin-top: 18.3333333333px;
}

a {
	text-decoration: none;
	position: relative;
	color: #ffed84;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

a:hover {
	color: #ff44ef;
}

a:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	border-radius: 2px;
	bottom: 0;
	left: 0;
	background-color: #ffed84;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	    -ms-transform: scaleX(0);
	        transform: scaleX(0);
	-webkit-transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
	-o-transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
	transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
}

a:hover:before {
	background-color: #ff44ef;
	visibility: visible;
	-webkit-transform: scaleX(1);
	    -ms-transform: scaleX(1);
	        transform: scaleX(1);
}

::-webkit-scrollbar {
	width: 6px;
	height: 1px;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(1 2 3 / 50%);
	border-radius: 5px;
}