.socials {
  margin: 10px 0;
}
.socials > * {
  margin: 0 10px;
}

#vk {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 3px;
  text-decoration: none;
  transition: color 0.35s ease-out;
}

#github {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 3px;
  text-decoration: none;
  transition: color 0.35s ease-out;
}

#steam {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 3px;
  text-decoration: none;
  transition: color 0.35s ease-out;
}

#vk:hover {
  color: #d98dff;
}

#github:hover {
  color: #7fe8ff;
}

#steam:hover {
  color: #ff858d;
}
