html,
body {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	flex-shrink: 1;
	height: 100%;
	justify-content: center;
	overflow: hidden;
	width: 100%;
}

html {
	font-family: "Roboto", Segoe, Segoe UI, Optima, Arial, sans-serif;
}

body {
	position: relative;
}

* {
	padding: 0;
	margin: 0;
}

#clockDisplay {
	color: rgb(255, 255, 255);
	cursor: default;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 3px;
	margin-top: 10px;
}

.nickname__gradient {
	letter-spacing: 3px;
	font-size: 35px;
	cursor: default;
	background-size: 100%;
	background-image: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-moz-text-fill-color: transparent;
	-moz-background-clip: text;
}

.socials,
#clockDisplay,
.nickname,
.newYear {
	animation: opasityChange 4s 1;
	z-index: 1;
}

.bg {
	z-index: 3;
}

@keyframes opasityChange {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
