@font-face {
	font-family: Linotte;
	src: url("../fonts/Linotte-Regular.ttf");
}

@mixin text($size) {
	font-family: Linotte;
	color: white;
	font-size: $size;
	text-align: center;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

section {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

html,
body {
	width: 100%;
	overflow: hidden;
	justify-content: center;
	height: 100%;
	flex-shrink: 1;
	flex-grow: 0;
	align-items: center;
	font-family: Linotte;
	background-image: url(https://4kwallpapers.com/images/wallpapers/macos-big-sur-apple-layers-fluidic-colorful-dark-wwdc-2020-5120x2880-1432.jpg);
	background-size: cover;
	background-position: center;
}

#result {
	@include text(20px);
	text-align: left;
	width: 312px;
	height: 45px;
	padding: 10px;
	margin-bottom: 10px;
	backdrop-filter: blur(20px);
	background-color: rgba(16 18 27 / 3%);
	outline: none;
	border: none;
	border-radius: 0px 0px 5px 5px;
}

button:nth-child(1),
button:nth-child(24) {
	width: 154px;
}

.buttons__main_other {
	display: none;
}

button {
	backdrop-filter: blur(15px);
	background-color: rgba(16 18 27 / 3%);
	border-radius: 5px;
	border: none;
	color: white;
	cursor: pointer;
	font-family: Linotte;
	font-size: 15px;
	height: 45px;
	margin-bottom: 3px;
	outline: none;
	transition: background-color 0.3s, box-shadow 0.3s;
	width: 75px;
}

img {
	width: 20px;
}

button:hover {
	background: rgba(12 15 25 / 10%);
}

section {
	left: 51%;
}

button:nth-child(26) {
	background-color: rgba(58 223 58 / 100%);
	box-shadow: 0 0 30px #14ff20ab;
}

footer {
	backdrop-filter: blur(30px);
	background-color: rgba(16 18 27 / 10%);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.178);
	bottom: 0px;
	height: 55px;
	left: 0px;
	position: fixed;
	text-align: center;
	width: 100%;
}

footer div {
	color: white;
	margin-top: 18.3333333333px;
}

a {
	text-decoration: none;
	position: relative;
	color: #ffed84;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

a:hover {
	color: #ff44ef;
}

a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	border-radius: 2px;
	bottom: 0;
	left: 0;
	background-color: #ffed84;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
	-o-transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
	transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
}

a:hover:before {
	background-color: #ff44ef;
	visibility: visible;
	-webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
}
